.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloTutores {
    margin: 0;
}

.quiero-dar-clases {
    margin-right: 8rem;
    margin-top: 7rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
}

.grid-item {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    margin-bottom: 0.75rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tituloTutores{
    display: flex;
    padding-Top: 5rem;
    padding-Left: 3rem;
}

.post-image {
    transition: transform 0.6s ease;
    margin: 0 auto;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .post-image:hover {
        transform: none;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .post-image:hover {
        transform: none;
    }
    .input-wrapper{
        justify-content: center !important;
        margin-right: 0 !important;
    }
    .title-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .quiero-dar-clases {
        margin-top: 1rem;
        margin-right: 0;
        align-self: center;
    }
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    margin-right: 6rem;
    margin-top:  5rem;
    margin-bottom: 2rem;
}

.input {
    border-style: none;
    padding: 10px;
    outline: none;
    text-align: center;
}

.input::placeholder,
.input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: #8f8f8f;
}

.input, .input:focus {
    box-shadow: none;
    width: 12rem;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #1557c0;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.card {
    position: relative;
    width: 11rem;
    height: 14rem;
    box-shadow: 0px 0px 30px rgba(255,255,255,0.05);
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(39,39,39);
    padding: 0.5em;
    padding-bottom: 3.4em;
    border-radius: 12px;
}

.card .title a h2{
    font-size: 0.9rem;
    position: absolute;
    left: 0.4em;
    bottom: 0em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.image {
    background: linear-gradient(to right, rgb(54,54,54),rgb(32,32,32));
    box-shadow: 5px 10px 20px rgba(0,0,0,0.329);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.materias{
    display: none;
}

hr{
    border-color: black;
    border-width: 1px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.modal-content {
    
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}

.close:hover {
    color: #000;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 20rem;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input, .form select {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 80%;
    height: 50px;
    color: black;
}

.form select{
    width: 90% !important;
}

.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 80%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}