html,body{
    background: linear-gradient(to right, #030712, #0E3047);
    background-size: cover;
    width: 100%;
    height: 100%;
}

*{
    color: white;
}

button {
    position: relative;
    background-color: rgb(230, 34, 77);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;
    height: 2.5rem;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    background-color: rgb(248, 50, 93);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

button:hover::before {
    width: 100%;
}

.scroll-watcher {
    background: linear-gradient(to right, #4E5A8A, #282e47);
    height: 4px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: 1000;
    transition: width 0.3s ease;
}